# Dependency directories
node_modules/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# SQLite database
# data/*.sqlite
data/*.sqlite-journal

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Temporary files
public.zip
